/*form styles*/
.msform {
    /* text-align: center; */
    position: relative;
    margin-top: 30px;
    z-index: 500;
  }
  
  .msform fieldset {
    background: #ffd200;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 60px 80px;
    box-sizing: border-box;
    /* width: 60%; */
    width: 600px;
    margin: 0 auto;
    /*stacking fieldsets above each other*/
    position: relative;
    color: #282828;
  }
  
  /*Hide all except first fieldset*/
  .msform fieldset:not(:first-of-type) {
    display: none;
  }
  
  /*inputs*/
  .msform input,
  .msform select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: rgb(133, 130, 130);
    width: 100%;
    box-sizing: border-box;
    line-height: 1.42857143;
    font-size: 14px;
  }
  
  .msform input:focus,
  .msform select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #49ace6;
    outline-width: 0;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.5s ease-in;
    -moz-transition: All 0.5s ease-in;
    -o-transition: All 0.5s ease-in;
  }
  
  /*buttons*/
  
  .msform .action-button {
    width: 100%;
    background: #282828;
    font-weight: bold;
    color: #ffd200;
    text-transform: uppercase;
    border: 1px solid #49ace6;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    /* margin: 10px 5px; */
    font-family: "Roboto Condensed";
    font-size: 16px;
    font-weight: lighter;
    margin: 10px auto;
    display: block;
  }
  
  .msform .action-button:hover,
  .msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #49ace6;
    border: 1px solid #282828;
  
    color: white;
  }
  
  .msform .action-button-previous {
    width: 100px;
    background: #c5c5f1;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  
  .msform .action-button-previous:hover,
  .msform .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #c5c5f1;
  }
  
  .msform span {
    color: #c0392b;
    font-size: 13px;
    font-weight: 400;
  }
  
  .msform label {
    display: inline-block;
    margin-top: 15px;
    font-size: 14px;
    font-weight: bold;
  }
  
  /*headings*/
  .fs-title {
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 15px;
    margin-bottom: 25px;
    font-weight: lighter;
  }
  
  .fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
  }
  
  /*progressbar*/
  #progressbar {
    display: flex;
    margin: 40px auto;
    width: 600px;
    overflow: hidden;
    padding: 0;
    /*CSS counters to number the steps*/
    counter-reset: step;
  }
  
  #progressbar li {
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 9px;
    width: 33.33%;
    float: left;
    position: relative;
    letter-spacing: 1px;
    cursor: pointer;
  }
  
  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height: 26px;
    display: block;
    font-size: 12px;
    color: #333;
    background: white;
    border-radius: 25px;
    margin: 0 auto 10px auto;
  }
  
  /*progressbar connectors*/
  #progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 13px;
    z-index: -1; /*put it behind the numbers*/
  }
  
  #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
  }
  
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before {
    background: #282828;
    color: #ffd200;
  }
  
  #progressbar li.active:after,
  #progressbar li.inactive:before {
    background: #ffd200;
    border: 1px solid #282828;
    color: #282828;
  }
  
  fieldset {
    /* for chrome and safari*/
    -webkit-animation-duration: 0.25ms;
    -webkit-animation-name: slidein;
  
    /*for firefox*/
    -moz-animation-duration: 1s;
    -moz-animation-name: slidein;
  
    /* for opera*/
    -o-animation-duration: 1s;
    -o-animation-name: slidein;
  
    /* Standard syntax*/
    animation-duration: 1s;
    animation-name: slidein;
  }
  
  @-webkit-keyframes slidein {
    from {
      margin-right: 100%;
      width: 300%;
    }
    to {
      margin-right: 0%;
      width: 100%;
    }
  }
  
  @-moz-keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @-o-keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  