.buttons {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 25px;
  font-size: 20px;
  font-family: inherit;
  background-color: #282828;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  border: none;
  margin: 10px;
  text-align: center;
  cursor: pointer;
}
