/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/dist/css/bootstrap.css"; */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
* {
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
